body{
  font-family: "Montserrat";
  text-align: center;
}


h1,h2,h3{
font-family: "Montserrat";
}

p{
  color: #8f8f8f;
  font-weight: normal;
}

/* Heading Section */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.container-fluid{
padding: 6% 14%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
 background-color: #fff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 3.5rem;

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature Section */

#features{
  position: relative;
}

.feature-box{
  padding: 5%;
}

.feature-title{
  font-size: 1.5rem;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section*/

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{

}

/* Press Section*/

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image{
  width: 15%;
  margin: 20px;
}

/* Pricing Section*/

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 1028px) {

  #title .container-fluid{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action */

#cta{
  font-family: "Montserrat";
}

/* Footer */

.faba{
  color: #000;
  margin: 12px;
  padding-bottom: 1.5%;
}
